# Default ignored files
/../../Безіменний/.idea/shelf/
/../../Безіменний/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Безіменний/.idea/httpRequests/
# Datasource local storage ignored files
/../../Безіменний/.idea/dataSources/
/../../Безіменний/.idea/dataSources.local.xml
